<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head> 
    <meta charset="utf-8"/>
    <title>Pizzaria M4</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <style>
        .jumbotron {
            background-color: #f8f9fa;
            text-align: center;
            padding: 50px;
            color: #000;
        }

        .jumbotron h1 {
            font-size: 3.5rem;
        }

        .jumbotron p {
            font-size: 1.5rem;
        }
    </style>
</head>
<body>
    <div th:replace="header :: header">...</div>

    <div class="jumbotron">
        <h1 class="display-4">M4 Pizzaria</h1>
        <p class="lead">Um pedacinho da Itália 🇮🇹 na sua casa</p>
        <p>Fazemos entregas e retirada das 19h às 23h30</p>
        <p>São João de Meriti - RJ</p>
        <p>Faça seu pedido aqui mesmo</p>
        <a href="http://bit.ly/m4pizzaria" class="btn btn-primary">Pedir</a>
    </div>
</body>
</html>
